@media (min-width: 991px) and (max-width: 1200px) {
	.block-advantage-price form input {
		width: 20%;
	} 
	.advantage-details-info {
		width: 90%;
		margin: 0 5% 0 5%;
	}
}
@media (min-width: 994px) and (max-width: 1070px) {
	header {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .block-content {
        height: 500px;
    }
    .block-content .info {
        height: 500px;
    }
    .block-content .txt-h2 {
        padding: 40px 0 20px 0;
    }
    .block-content .txt-p {
        padding-bottom: 20px;
    }
	.block-content .bank,
	.block-content .track,
	.block-content .calendar, 
	.block-content .medal {
        margin: 15px 0 15px 0;
        font-size: 12px;
    }
    .form-price {
        margin-right: 5%;
    }
    .form-price h3 {
        margin: 120px 0 40px 0;
    }
    .price-clock p {
        margin-top: 5px;
    }
    .price-clock img {
        margin: 10px 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	header {
        padding: 0 5% 0 5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .phone-number {
        font-size: 12px;
    }
    #logo-txt {
        font-size: 16px;
    }
    .logo {
        margin: 35px 0 10px 0;
    }
    .block-content {
        height: 450px;
    }
    .block-content .info {
        height: 450px;
        width: 30%;
        padding: 0 3% 0 3%;
    }
    .block-content .txt-h2 {
        padding: 10px 0 20px 0;
    }
    .block-content .txt-p {
        padding-bottom: 20px;
    }
	.block-content .bank,
	.block-content .track,
	.block-content .calendar,
	.block-content .medal {
        margin: 15px 0 15px 0;
        font-size: 12px;
    } 
    .form-price {
        margin-right: 35%;
    }
    .form-price h3 {
        font-size: 24px;
        margin: 120px 0 40px 20%;
        width: 100%;
    }
    .form-price p {
        font-size: 14px;
		margin-top: 5px;
		width: 207px;
    }
    .form-price span {
        font-size: 14px;
    } 
	.advantage-info h3 {
		font-size: 42px;
	}
	.advantage-info p {
		font-size: 18px;
	}
	.advantage-img {
		margin-left: 5%;
		width: 90%;
	}
	.block-advantage-price form input {
		width: 22%;
	} 
	.block-advantage-price form input::placeholder {
		font-size: 14px;
	}
	.advantage-details-info {
		width: 90%;
		margin: 0 5% 0 5%;
	}
	.advantage-details-info p {
		padding: 0 10px 0 10px;
	}
	.customer-wrap img {
		margin: 0;
	}
	.customer-wrap {
		flex-direction: column;
		margin: 0;
		text-align: center;
	}
	.customer-wrap p {
		margin: 10px 0 25px 0;
	}
	.customer-discount {
		padding-bottom: 40px;
	}
	.customer-discount h3 {
		margin-bottom: 40px;
		padding-top: 40px;
	}
}
/* @media (min-width: 768px) and (max-width: 870px) {
	.form-price {
		margin-left: 50%;
	}
	.form-price h3 {
		text-align: center;
	}
	.email-phone {
		display: block;
	}
	.email, .phone {
		display: block;
	}
	.phone {
		top: 20px;
	}
	.email-phone input {
		border: 2px solid #818181;
		border-radius: 2px;
		width: 200px;
	}
	.email-phone input::placeholder {
		font-size: 14px;
	}
	.email-phone img {
		margin-left: 10px;
	}
} */
@media (min-width: 576px) and (max-width: 768px) {
	header {
        padding: 0 5% 0 5%;
        grid-template-columns: 1fr 1fr;
    }
    #logo-txt {
        font-size: 18px;
    }
    .logo {
        margin: 35px 0 0 0;
        order: 1;
    }
    .phone-order {
        order: 2;
        margin-left: auto;
        padding: 17px 10% 17px 10%;
    }
    .time {
        order: 3;
        margin: 0 0 10px 0;
        margin-right: auto;
        padding: 0 0 0 5%;
        
    }
    .phone-number {
        order: 4;
        margin: 0 0 10px;
        margin-left: auto;
        padding-right: 10%;
    }
    .phone-order {
        margin-bottom: 10px;
    }
    .block-content {
        height: 350px;
    }
    .block-content .info {
        height: 350px;
        width: 35%;
        padding: 0 3% 0 3%;
        margin-left: 10%;
    }
    .block-content .txt-h2 {
        font-size: 22px;
        padding: 5px 0 5px 0;
    }
    .block-content .txt-p {
        padding-bottom: 10px;
        font-size: 12px;
    }
	.block-content .bank,
	.block-content .track,
	.block-content .calendar,
	.block-content .medal {
        margin: 10px 0 15px 0;
        font-size: 12px;
    }
    .form-price h3 {
        margin: 140px 5% 30px 0;
        font-size: 18px;
    }
    .form-price span, .form-price p {
        font-size: 12px;
    }
    .form-price p {
        margin-top: 5px;
    }
    .form-price input {
        width: 100px;
    }
    .form-price {
        width: 100%;
    }
    .form {
        grid-template-columns: 1fr;
        margin-left: 50%;
    }
    .block-price {
        background-size: cover;
        height: 200px;
    }
    .label {
        margin: 0 0 20px 0;
    }
    .price-clock{
        margin: 20px 0 30px 20%;
    }
	.block-advantage-price form {
		flex-direction: column;
		padding: 0 0 40px 0;
	}
	.block-advantage-price form input {
		width: 50%;
		margin: 0 25% 15px 25%;
	}
	.block-advantage-price input[type="text"], .block-advantage-price input[type="tel"] {
		padding: 0;
	}
	.block-advantage-price form input::placeholder {
		font-size: 18px;
		text-align: center;
	}
	.block-advantage-price .advantage-info {
		padding-bottom: 40px;
	}
	.advantage-details-info {
		flex-direction: column;
	}
	.advantage-img {
		flex-direction: column;
		width: 100%;
		margin: 0;
		justify-content: center;
	}
	.content {
		margin: 15px 0 15px 0;
	}
	.content.engine {
		  margin-top: 40px;
	}
	.content.location {
		margin-bottom: 40px;
	}
	.advantage-info h3 {
		padding: 30px 0 30px 0;
		font-size: 32px;
	}
	.advantage-1 .advantage-1-img {
		margin-left: 23%;
    	text-align: center;
	}
	.block-advantage-details {
		margin-bottom: 30px;
	}
	.advantage-info.details h3 {
		padding: 30px 0 30px 0;
		font-size: 28px;
	}
	.block-advantage-details p {
		margin: 10px 0 0px 0;
	}
	.block-advantage-details img {
		margin-top: 20px;
	}
	.customer-discount h3 {
		margin: 0 10px 40px 10px;
		padding-top: 40px;
		font-size: 28px;
	}
	.customer-wrap img {
		margin: 0;
	}
	.customer-wrap {
		flex-direction: column;
		margin: 0;
		text-align: center;
	}
	.customer-wrap p {
		margin: 10px 0 25px 0;
	}
	.customer-discount {
		padding-bottom: 40px;
	}
	.footer {
		display: grid;
		grid-template-columns: 2fr auto 2fr;
		padding: 30px 0 0 0;
	}
	.footer .logo {
		order: 1;
		text-align: center;
		margin-left: auto;
	}
	.footer .empty {
		order: 2;
	}
	.footer .contacts {
		order: 3;
		text-align: center;
		margin-right: auto;
	}
	.footer .empty2 {
		order: 4;
	}
	.footer .dev-info {
		order: 5;
		text-align: center;
	}
	.footer .empty3 {
		order: 6;
	}
}
@media screen and (max-width: 574px) {
	header {
        padding: 0 5% 0 5%;
        grid-template-columns: 1fr 1fr;
    }
    #logo-txt {
        font-size: 16px;
    }
    .logo {
        margin: 35px 0 0 0;
        order: 1;
    }
    .phone-order {
        order: 2;
        margin-left: auto;
        padding: 17px 10% 17px 10%;
    }
    .time {
        order: 3;
        margin: 0 0 10px 0;
        margin-right: auto;
        padding: 0 0 0 5%;
    }
    .phone-number {
        order: 4;
        margin: 0 0 10px;
        margin-left: auto;
        padding-right: 10%;
    }
    .phone-order {
        margin-bottom: 10px;
    }
    .block-content {
        background: #f7b516;
        height: 400px;
    }
    .block-content .info {
        background: none;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .block-content .txt-h2 {
        font-size: 36px;
        padding: 10px 0 5px 0;
        text-align: center;
    }
    .block-content .txt-p {
        padding-bottom: 30px;
        font-size: 14px;
        text-align: center;
    }
	.block-content .bank,
	.block-content .track,
	.block-content .calendar,
	.block-content .medal {
        margin: 15px 10% 15px 10%;
        font-size: 14px;
        width: 80%;
    }
    .block-price {
		background: #fff;
		max-height: 230px;
    }
    .form-price {
        margin: 0;
        width: 100%;
    }
    .form-price h3 {
        margin: 170px 0 40px 0;
        text-align: center;
        font-size: 24px;
    }
    .form {
        grid-template-columns: 1fr;
        margin: 0;
    }
	.form-price .email,
	.form-price .phone {
        grid-template-columns: 3fr 1fr;
        margin: 0 10% 0 10%;
    }
    .label {
        margin: 0 0 20px 0;
    }
    .price-clock {
        margin: 20px 0 30px 10%;
    }
	.block-advantage-price p {
		margin: 0 3% 0 3%;
	}
	.block-advantage-price form {
		flex-direction: column;
		padding: 0 0 40px 0;
	}
	.block-advantage-price form input {
		width: 60%;
		margin: 0 20% 15px 20%;
	}
	.block-advantage-price input[type="text"], .block-advantage-price input[type="tel"] {
		padding: 0;
	}
	.block-advantage-price form input::placeholder {
		font-size: 18px;
		text-align: center;
	}
	.block-advantage-price .advantage-info {
		padding-bottom: 40px;
	}
	.block-advantage h3 {
		font-size: 36px;
	}
	.advantage-img {
		flex-direction: column;
		width: 100%;
		margin: 0;
		justify-content: center;
	}
	.content {
		margin: 15px 0 15px 0;
	}
	.content.engine {
		  margin-top: 40px;
	}
	.content.location {
		margin-bottom: 40px;
	}
	.advantage-details-info {
		flex-direction: column;
	}
	.advantage-info h3 {
		padding: 30px 0 30px 0;
		margin: 0 20px 0 20px;
	}
	.advantage-1 .advantage-1-img {
    	text-align: center;
	}
	.block-advantage-details p {
		margin: 10px 0 0px 0;
	}
	.block-advantage-details img {
		margin-top: 20px;
	}
	.block-advantage-details {
		margin-bottom: 30px;
	}
	.customer-discount h3 {
		font-size: 24px;
		margin-bottom: 40px;
		padding-top: 40px;
	}
	.customer-wrap img {
		margin: 0;
	}
	.customer-wrap {
		flex-direction: column;
		margin: 0;
		text-align: center;
	}
	.customer-wrap p {
		margin: 10px 0 25px 0;
	}
	.customer-discount {
		padding-bottom: 40px;
	}
	.footer {
		display: flex;
		flex-direction: column;
		/* display: grid;
		grid-template-columns: 2fr auto 2fr; */
		padding: 30px 0 0 0;
	}
	.footer .logo {
		order: 1;
		text-align: center;
		
	}
	.footer .empty {
		order: 2;
	}
	.footer .contacts {
		order: 3;
		text-align: center;
	}
	.footer .empty2 {
		order: 4;
	}
	.footer .dev-info {
		order: 5;
		text-align: center;
	}
	.footer .empty3 {
		order: 6;
	}
}