
/* Для col-lg */

@media (min-width: 993px) and (max-width: 1200px) {
	.block-1-largePar p {
		font-size: 30px;
	}
	.block-1-smallPar p {
		font-size: 12px;
	}
	.block-1-2 .block-1-2-h3 {
		font-size: 30px;
	}
	.block-1-2 .block-1-2-p {
		font-size: 11px;
	}
	.block-1-2 .fb, .block-1-2 .google, .block-1-2 .pinterest, .block-1-2 .inst, .block-1-2 .browser,.block-1-2 .rss {
		line-height: 85px;
	}
	 form #myBtn {
		margin: 9.75% 0 0 0%;
	}
	
		/* Третий блок (Feature 2) */
	
	.block-features-2 .picture img {
		width: 100%;
		height: auto;
	}
	.block-features-2 .information {
		margin-top: -3%;
	}
	.block-features-2 .information hr {
		width: 25%;
	}
	.block-features-2 .information p {
		font-size: 14px;
	}
	.block-features-2 .information .ul-li .text {
		margin-left: 15%;
		margin-top: -15%; 
	}
	
	/* Четвертый блок (About) */
	
	.block-about hr {
		width: 5%;
	}
    
    	/* Блок 6 (Price) */
    
    .block-price .price-basic h3, .block-price .price-professional h3, .block-price .price-enterprice h3 {
        font-size: 24px;
    } 
    .block-price .price-basic h1, .block-price .price-professional h1, .block-price .price-enterprice h1 {
        font-size: 22px;
    }
    .block-price .price-basic h1 b, .block-price .price-professional h1 b, .block-price .price-enterprice h1 b {
        font-size: 60px;
    }
    .block-price .price-basic .info, .block-price .price-professional .info, .block-price .price-enterprice .info {
        font-size: 17px;
    }
	
		/* Блок 7 (Custom) */
	.block-custom  .custom-manager .info {
		margin: 0;
		padding: 0;
	}
		
		/* Блок 8 (Stylish) */
	
	.block-stylish h2 {
		margin-bottom: 2%;
	}
	.block-stylish p {
		margin-top: 0.5%;
	}
	.block-stylish .buttn {
		margin-top: 5%;
	}
		/* Блок 9 (Feedback) */
	
	.block-feedback .head hr {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.block-feedback .input-name, .block-feedback .input-email {
		margin-bottom: 12.3%;
	}
}

/* Для col-md */

@media (min-width: 768px) and (max-width: 992px) {
	.form-reg {
		display: none;
	}
	
	.block-1-largePar p {
		text-align: center;
	}
	.block-1 hr {
		width: 90%;
		margin-left: 12.2%;
	}
	.block-1-smallPar p {
		text-align: center;
	}
	.block-1-2 .block-1-2-h3 {
		font-size: 28px;
	}
	.block-1-2 .block-1-2-p {
		font-size: 11px;
	}
	.block-1-2 .block-1-2-txt {
		margin-top: 10px;
	}
	
		/* Блок 2 (Features 1) */
	
	.block-features-1 {
		margin-top: 4%;
	}
	.block-features-1 .tab a {
		width: 60px;
		height: 60px;
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.block-features-1 .information h3 {
		font-size: 24px;
	}
	.block-features-1 .information p {
		font-size: 14px;
	}
	.block-features-1 .picture img {
		width: 100%;
	}
	
		/* Блок 3 (Features 2) */
	
	.block-features-2 .picture {
		margin-top: 3%;
	}
	
		/* Блок 4 (Features 3) */
	
	.block-features-3 .picture {
		margin-top: 5%;
	}
	.block-features-3 .information hr {
		width: 18%;
	}
	.block-features-3 .information p {
		font-size: 14px;
	}
	
		/* Блок 5 (About) */
	
	.block-about hr {
		width: 6%;
	}
	.block-about .design p, .block-about .craft p, .block-about .customize p {
		font-size: 14px;
	}
    
    	/* Блок 6 (Price) */
    
    .block-price .price-basic h3, .block-price .price-professional h3, .block-price .price-enterprice h3 {
        font-size: 22px;
        padding: 4% 0 4% 0;
    } 
    .block-price .price-basic h1, .block-price .price-professional h1, .block-price .price-enterprice h1 {
        font-size: 20px;
    }
    .block-price .price-basic h1 b, .block-price .price-professional h1 b, .block-price .price-enterprice h1 b {
        font-size: 56px;
    }
    .block-price .price-basic .info, .block-price .price-professional .info, .block-price .price-enterprice .info {
        font-size: 14px;
    }
	
		/* Блок 7 (Custom) */
	
	.block-custom .head h1 {
		font-size: 32px;
	}
	.block-custom .custom-manager p i {
		font-size: 14px;
	}
	.block-custom .custom-manager .info .txt-info h3 {
		font-size: 24px;
	}
	
		/* Блок 8 (Stylish) */
	
	.block-stylish p {
		font-size: 14px;
	}
	.block-stylish h2 {
		margin-bottom: 3%;
	}
	.block-stylish p {
		margin-top: 1%;
	}
	.block-stylish .buttn {
		margin-top: 5%;
	}
	
		/* Блок 9 (Feedback) */
	
	.block-feedback .input-name, .block-feedback .input-email {
		margin-bottom: 19%;
	}
	.block-feedback button {
		font-size: 18px;
		margin-top: 6%;
		padding: 1% 0 1% 0;
	}
}

/* Для col-sm */

@media (min-width: 576px) and (max-width: 768px) {
	.form-reg {
		display: none;
	}
	.block-1-largePar p {
		text-align: center;
		font-size: 28px;
	}
	.block-1 hr {
		width: 100%;
		margin-left: 16.6%;
	}
	.block-1-smallPar p {
		text-align: center;
		font-size: 12px;
	}
	.block-1-2 .block-1-2-txt {
		line-height: 1.5;
	}
	.block-1-2 .block-1-2-h3 {
		font-size: 32px;
	}
	.block-1-2 .block-1-2-p {
		font-size: 14px;
	}
	.block-1-2 .fb, .block-1-2 .google, .block-1-2 .pinterest, .block-1-2 .inst, .block-1-2 .browser,.block-1-2 .rss {
		line-height: 0;
		margin-bottom: 10px;
	}
	.block-1-2 .block-1-2-txt {
		text-align: center;
	}
	
		/* Блок 2 (Features 1) */
	
	.block-features-1 .tab {
		display: none;
	}
	.block-features-1 .information h3 {
		font-size: 22px;
	}
	.block-features-1 .information p {
		font-size: 14px;
	}
	.block-features-1 .picture img {
		width: 100%;
	}
	
		/* Блок 3 (Features 2) */
	
	.block-features-2 .picture {
		margin-top: 3%;
	}
	.block-features-2 .information hr {
		width: 28%;
	}
	.block-features-2 .information p {
		font-size: 13px;
	}
	.block-features-2 .information .ul-li {
		margin-top: 3%;
	}
	.block-features-2 .information .ul-li .text {
		margin-left: 16%;
		margin-top: -17%; 
	}
	
		/* Блок 4 (Features 3) */
	
	.block-features-3 {
		margin-top: 8%;
	}
	.block-features-3 .information h3 {
		font-size: 24px;
	}
	.block-features-3 .information p {
		font-size: 14px;
	}
	.block-features-3 .picture {
		margin-top: 5%;
	}
	
		/* Блок 5 (About) */
	
	.block-about hr {
		width: 6%;
	}
	.block-about .design h3, .block-about .craft h3, .block-about .customize h3 {
		font-size: 22px;
	}
	.block-about .design p, .block-about .craft p, .block-about .customize p {
		font-size: 14px;
	}
	.block-about hr {
		width: 7%;
	}
	.block-about .design p, .block-about .craft p, .block-about .customize p {
		font-size: 14px;
	}
    
        /* Блок 6 (Price) */
    
    .block-price .price-basic h3, .block-price .price-professional h3, .block-price .price-enterprice h3 {
        font-size: 20px;
        padding: 4% 0 4% 0;
    } 
    .block-price .price-basic h1, .block-price .price-professional h1, .block-price .price-enterprice h1 {
        font-size: 18px;
    }
    .block-price .price-basic h1 b, .block-price .price-professional h1 b, .block-price .price-enterprice h1 b {
        font-size: 50px;
    }  
    .block-price .price-basic p, .block-price .price-professional p, .block-price .price-enterprice p {
        font-size: 14px;
    }
    .block-price .price-basic .info, .block-price .price-professional .info, .block-price .price-enterprice .info {
        font-size: 10px;
    }
	
		/* Блок 7 (Custom) */
	
	.block-custom .head h1 {
		font-size: 28px;
	}
	.block-custom .custom-manager .txt-center {
		text-align: center;
	}
	.block-custom .custom-manager {
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.block-custom .custom-manager .info .txt-info h3 {
		font-size: 22px;
	}
	
			/* Блок 8 (Stylish) */
	
	.block-stylish h2 {
		margin-bottom: 4%;
	}
	.block-stylish p {
		margin-top: 2%;
	}
	.block-stylish .buttn {
		margin-top: 5%;
	}
	
			/* Блок 8 (Stylish) */
	
	.block-feedback .column-2 {
		margin-top: 7%;
		text-align: center;
	}
	
			/* Блок 9 (Feedback) */
	
	.block-feedback button {
		font-size: 18px;
		margin-top: 8%;
		padding: 2% 0 2% 0;
	}
	
			/* Footer (низ сайта) */
	
	.footer {
		padding: 3% 0 0.5% 0;
	}
	.footer p {
		margin-top: 2%;
	}
}

/* Для col */

@media (min-width: 10px) and (max-width: 576px) {
		
	.block-1 {
		height: 57.4vh;
	}
	.block-1-h1 {
		margin-top: 7vh;
	}
	.block-1-largePar p {
		font-size: 24px;
	}
	.block-1-smallPar p {
		font-size: 10px;
	}
	.bbtn {
		display: none;
	}
	.form-reg {
		display: none;
	}
	.block-1 hr {
		width: 90%;
		margin-left: 9.5%;
	}
	.block-1-2 .block-1-2-h3 {
		font-size: 32px;
	}
	.block-1-2 .block-1-2-p {
		font-size: 14px;
	}
	.block-1-2 .block-1-2-txt {
		text-align: center;
	}
	
		/* Блок 2 (Features 1) */
	
	.block-features-1 .tab {
		display: none;
	}
	.block-features-1 .information h3 {
		font-size: 18px;
	}
	.block-features-1 .information p {
		text-align: center;
		font-size: 12px;
	}
	.block-features-1 .information button {
		margin-left: 37.5%;
	}
	
		/* Блок 3 (Features 2) */
	
	.block-features-2 .information {
		margin-top: 5%;
	}
	.block-features-2 .information h3 {
		text-align: center;
	}
	.block-features-2 .information hr {
		width: 50%;
		margin-left: 25%;
	}
	.block-features-2 .information p {
		text-align: center;
	}
	.block-features-2 .information .text p {
		text-align: left;
		font-size: 14px;
		margin-bottom: 2%;
	}
	.block-features-2 .information .ul-li {
		margin-top: 5%;
	}
	.block-features-2 .information .ul-li .text {
		margin-left: 16%;
		margin-top: -17%; 
	}
	
		/* Блок 4 (Features 3) */
	
	.block-features-3 .information h3 {
		text-align: center;
	}
	.block-features-3 .information hr {
		margin: 1% 0 3% 10%;
		width: 80%;
	}
	
    	/* Блок 5 (About) */
	
	.block-about hr {
		width: 10%;
	}
	.block-about .design h3, .block-about .craft h3, .block-about .customize h3 {
		font-size: 18px;
	}
	.block-about .design p, .block-about .craft p, .block-about .customize p {
		font-size: 14px;
	}
    
    	/* Блок 6 (Price) */
    
    .block-price .price-basic h3, .block-price .price-professional h3, .block-price .price-enterprice h3 {
        font-size: 36px;
        padding: 2% 0 2% 0;
    } 
    .block-price .price-basic h1, .block-price .price-professional h1, .block-price .price-enterprice h1 {
        font-size: 24px;
        margin: 8% 0 8% 0;
    }
    .block-price .price-basic h1 b, .block-price .price-professional h1 b, .block-price .price-enterprice h1 b {
        font-size: 66px;
    }  
    .block-price .price-basic p, .block-price .price-professional p, .block-price .price-enterprice p {
        font-size: 20px;
    } 
    .block-price .price-basic .info, .block-price .price-professional .info, .block-price .price-enterprice .info {
        font-size: 16px;
    }
    .block-price .price-basic, .block-price .price-professional, .block-price .price-enterprice {
        margin-bottom: 20%;
    }
	
		/* Блок 7 (Custom) */
	
	.block-custom .head h1 {
		font-size: 26px;
	}
	.block-custom .custom-manager .txt-center {
		text-align: center;
	}
	.block-custom .custom-manager {
		margin-top: 5%;
		margin-bottom: 5%;
	}
	
		/* Блок 8 (Stylish) */
	
	.block-stylish h2 {
		font-size: 30px;
		margin-bottom: 4%;
	}
	.block-stylish p {
		margin-top: 2%;
	}
	.block-stylish .buttn {
		margin-top: 5%;
	}
		/* Блок 9 (Feedback) */
	
	.block-feedback .column-2 {
		margin-top: 7%;
		text-align: center;
	}
	.block-feedback button {
		font-size: 18px;
		margin-top: 8%;
		padding: 2% 0 2% 0;
	}
	
		/* Footer (Низ сайта) */
	
	.footer {
		padding: 5% 0 0 0;
	}
	.footer p {
		margin-top: 2%;
	}
}